@font-face {
    font-family: "MaruBuri-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}

.main{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main-header{
    width : 80%;
    height : 200px;
    margin : 50px auto;
    border : 5px solid lightblue;
    border-radius : 15px;
}

.main-header > p{
    margin : 80px auto;
    font-size : 24px;
}

.main-img > img{
    width:150px;
    height:150px;
}

.main-input > input{
    width: 400px;
    height : 50px;
    text-align: center;
    border : 2px solid lightblue;
    border-radius : 20px;
}

.main-footer > button{
    margin : 20px auto;
    width : 300px;
    height : 50px;
    background-color: lightblue;
    
    outline: 0;
    border: 2px solid lightblue;
    border-radius: 20px;
}